<div class="call">
  <div class="call-box-top">
    {% if site.data.contact.whatsapp %}
    <div class="call-email"><strong>Join the WhatsApp Community</strong>
      <a href="https://{{ .site.data.contact.whatsapp }}">
        Join us!
      </a>
    </div>
    {% endif %}
    {% if site.data.contact.instagram %}
    <div class="call-facebook"><strong>Follow us on </strong>
        <a href="https://{{ site.data.contact.instagram }}" target="_blank">
            Instagram
        </a>
    </div>
    
    {% endif %}
    {% if site.data.contact.facebook %}
    <div class="call-facebook"><strong>Follow us on </strong>
        <a href="https://{{ site.data.contact.facebook }}" target="_blank">
            Facebook
        </a>
    </div>
    
    {% endif %}
  </div>
    {% if include.show_button %}
      <div class="call-box-bottom">
        <a href="{{ site.data.contact.contact_button_link }}" class="button">Contact</a>
      </div>
    {% endif %}
</div>
